<div class="row">
    <div class="columns large-12">
        <h1>Api specification</h1>
    </div>
</div>


<div class="row wab-apispect">
    <table class="columns large-12">
        <thead>
            <tr >
                <th >api endpoint</th>
                <th>method</th>
                <th >description</th>
            </tr>
        </thead>
      <tbody>
          <tr ng-repeat="endpoint in endpoints">
              <td><wab-api endpoint="{{ endpoint.pattern }}"></wab-api></td>
              <td>
                  <code style="width:5em; display: block; text-align: center;">{{ endpoint.method }}</code>
              </td>
              <td >{{ endpoint.description }}</td>
          </tr>
      </tbody>

    </table>
</div>
