<div class="row">
    <div class="columns large-12">
        <h1>Api specification</h1>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <h3>End points</h3>
    </div>
</div>

<div class="row wab-apispect">
    <table class="columns large-12">
        <thead>
            <tr >
                <th >api endpoint</th>
                <th>method</th>
                <th >description</th>
            </tr>
        </thead>
      <tbody>
          <tr ng-repeat="endpoint in endpoints">
              <td><wab-api endpoint="{{ endpoint.pattern }}"></wab-api></td>
              <td>
                  <code style="width:5em; display: block; text-align: center;">{{ endpoint.method }}</code>
              </td>
              <td >{{ endpoint.description }}</td>
          </tr>
      </tbody>

    </table>
</div>

<div class="row">
    <div class="columns large-12">
        <h3>Authentication</h3>
    </div>
</div>


<div class="row">
    <div class="columns large-12">
        <p>
            All calls that change an asset requires authentication.
            Authentication is done by adding a <code class="light">
            user={user_name}</code> parameter to the endpoint.  For example, to
            authenticate to <code class="light">/api/doormen/zST8_FWcPDT2-14wDQAAAQ==</code>
            with a user called "bob", the url becomes
            <code class="light">/api/doormen/zST8_FWcPDT2-14wDQAAAQ==?user=bob</code>
        </p>
    </div>
</div>
