
<div class="row">
    <div class="columns large-12">
        <h1>{{ doorman.name }} </h1>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <span>doorman id: <code>{{ doorman.id }}</code></span>
    </div>
</div>

<div class="row" ng-repeat="value in doorman.values">
    <div class="columns large-9 small-10">
        <label >name<input type="text" placeholder="value name" ng-value="value.name" disabled></label>
    </div>
    <div class="columns large-3 small-2">
        <label >probability<input type="number" placeholder="value probability" ng-model="value.probability" min="0" max="1" step="0.01"></label>
    </div>
</div>

<!-- <div class="row">
    <div class="columns large-12 small-12">
        <h3>try it!</h3>
    </div>
</div>
<div class="row">
    <textarea class="large-offset-1 small-offset-1 large-10 small-10 columns">
    </textarea>
</div>

<div class="row">
    <div class="large-offset-1 small-offset-1 large-10 small-10 columns">
        <a href="#" class="button tiny">try</a>
    </div>
</div> -->

<div class="row">
    <div class="large-12 small-12 columns">
        <ul class="button-group">
            <li><a ng-click="updateDoorman()" class="small button" ng-class="{disabled: !validate()}">Update</a></li>
            <li><a ng-click="deleteDoorman()" class="small button">Delete</a></li>
        </ul>
    </div>
</div>
