<div class="row">
    <div class="columns large-12">
        <h1>Welcome to the world best a/b testing library</h1>
    </div>
</div>



<div class="row">
    <form ng-submit="login()" >
    <fieldset>
        <legend>Login</legend>
        <div class="large-12 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" placeholder="email" ng-model="email">
                </div>
                <div class="small-2 columns">
                    <button type="submit" class="button postfix" >Login!</input>
                </div>
            </div>
        </div>
    </fieldset>
    <form>
</div>

<div class="row" ng-show="loggedEmail">
    <div class="large-12 columns">
        You are currently logged in as <code ng-bind="loggedEmail"></code>
    </div>
</div>
