<div class="row">
    <div class="columns large-12">
        <h1>new doorman</h1>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <label >name<input type="text" placeholder="unique doorman name" ng-model="payload.name"></label>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <fieldset>
            <legend>doorman state</legend>

            <div class="row">
                <div class="columns large-8">
                    <label >name<input type="text" placeholder="value name" ng-model="value.name"></label>
                </div>
                <div class="columns large-3">
                    <label >probability
                        <rat-input ng-model="value.probability"></rat-input>
                    </label>
                </div>

                <div class="columns large-1">
                    <br>
                    <a class="button round tiny" ng-class="{disabled: !isValidValue()}" ng-click="addNewValue()">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>

            <div class="row" ng-repeat="value in payload.values | reverse">
                <div class="columns large-8">
                    <label >value<input type="text" placeholder="value name" ng-model="value.name"></label>
                </div>
                <div class="columns large-3">
                    <label >probability
                        <rat-input ng-model="value.probability"></rat-input>
                    </label>
                </div>
                <div class="columns large-1">
                    <br>
                    <a class="button round tiny" ng-click="removeValue( payload.values.length - $index - 1 )">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <fieldset>
            <legend>administrator</legend>

            <div class="row">
                <div class="columns large-11">
                    <label>admin email <input type="text" placeholder="admin email" ng-model="newEmail"></label>
                </div>
                <div class="columns large-1">
                    <br><a class="button round tiny" ng-click="addEmail()" ng-class="{disabled: !newEmail}">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>

            <div class="row" ng-repeat="email in payload.emails | reverse">
                <div class="columns large-11">
                    <label>admin email <input type="text" ng-disabled="email==user" placeholder="wild cards are allow here" ng-model="email"></label>
                </div>
                <div class="columns large-1">
                    <br><a class="button round tiny" ng-click="removeEmail(payload.emails.length - $index -1)" ng-disabled="email==user? 'disabled' : ''">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

        </fieldset>
    </div>
</div>

<div class="row" ng-show="error">
    <div class="columns large-12">
        <code style="width:100%; height:100%; display:block; margin-bottom: 1em;">{{ error }}</code>
    </div>
</div>

<div class="row">
    <div class="large-11 columns">
        <button ng-click="createDoorman()" ng-class="{disabled: !isDoormanValid()}">create</button>
    </div>

    <div class="large-1 columns">
        <span >propability remaning: {{ getProbabilityRemaining() | ratpp}}</span>
    </div>
</div>
