@import "settings";
// @import url(http://fonts.googleapis.com/css?family=Orbitron:400,900,500,700);
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(/scss/font/orbitron/HmnHiRzvcnQr8CjBje6GQvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(/scss/font/orbitron/94ug0rEgQO_WuI_xKJMFc_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}


h1, h2{
    font-family: 'Orbitron', sans-serif;
}


.wab-sidebar{
    background: $ghost;

    h1{
        text-align: center;
        color: $primary-color;
    }
}
.wab-apispect{
    h2{
        text-align: center;
    }
}
