@import "settings";
@import "bourbon";

// @import url(http://fonts.googleapis.com/css?family=Orbitron:400,900,500,700);
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(/scss/font/orbitron/HmnHiRzvcnQr8CjBje6GQvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(/scss/font/orbitron/94ug0rEgQO_WuI_xKJMFc_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}


h1, h2{
    font-family: 'Orbitron', sans-serif;
}


.wab-sidebar{
    background: $ghost;

    h1{
        text-align: center;
        color: $primary-color;
    }
}
.wab-apispect{
    h2{
        text-align: center;
    }
}

.rat-input{
    .fraction-box{
        font-family: monospace;
        font-size: 1.3em;
        border: 2px;
        padding: 0.3em;
        box-shadow: 2px 2px 1px #888;
        @include border-top-radius(5px);
        @include border-bottom-radius(5px);

        i{
            font-size: 1em;
            margin-left: 0.2em;
        }
    }

    .fraction-box:hover{
        border: 2px;
        padding: 0.3em;
        box-shadow: 2px 2px 1px red;
    }

    .edit{
        input{
              width: 4em;
              height: 2em;
              display: inline;
              padding: 0px;
              padding-left: 0.5em;
        }
    }
}
